albumentations==0.5.2
fsspec
ftfy
fvcore
numpy
omegaconf
cloudpickle
opencv-contrib-python
opencv-python-headless
pandas
Pillow==8.4.0
pycocotools
scikit-image
scikit-learn
scipy
tensorboard
tensorboardX
timm==0.3.2
torch
torchaudio
torchmetrics
torchvision
tqdm
yapf